<header>
  <div class="logo">
    <a routerLink="/selection">
      <img src="../../../assets/images/music_note.png" />
    </a>
  </div>
  <div class="linkToAccordion instrumentLink">
    <a routerLink="/accordion" routerLinkActive="active-link">Accordion</a>
  </div>
  <div class="linkToXylophone instrumentLink">
    <a routerLink="/xylophone" routerLinkActive="active-link">Xylophone</a>
  </div>
  <div class="linkToDrum instrumentLink">
    <a routerLink="/drum" routerLinkActive="active-link">Drum</a>
  </div>
</header>
