// General
$black: #000;
$primary: #1affd1;
$shadow: #888888;
$appBackground: #e6fffa;

//Links
$active-link-color: $black;

//Accordion
$key-border-color: #080f0c;
$key-color-big: #F8F8FF;
$key-color-small: $key-border-color;
