header {
  padding: 2vh;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px ridge darkgrey;

  >div {
    padding-right: 1vw;

    a {
      padding: 1vh;
    }

    img {
      height: 4vh;
    }
  }

  .instrumentLink {
    line-height: 4vh;
  }

  .active-link {
    border: 1px solid $active-link-color;
    border-radius: 10%;
  }
}
