<div class='main'>
  <div class="drum-container">
    <ul>
      <li class="drum-key" *ngFor="let drumKey of drumKeys; let i = index">
        <div class="key" [ngClass]="{'kick': drumKey.class === 'kick', 'closed-hi-hat': drumKey.class === 'closed-hi-hat',
       'open-hi-hat': drumKey.class === 'open-hi-hat', 'snare': drumKey.class === 'snare'}"
       (click)="playNote(i)" [@onOffTrigger]="drumKey.state">
          <div class="screw">

          </div>
          <div class="screw">

          </div>
        </div>
        {{drumKey.keyboard.toUpperCase()}}
      </li>
    </ul>
  </div>
</div>
