.drum-container {
  ul {
    display: flex;
    list-style: none;
    padding: 0;

    li {
      text-align: center;
      font-size: $text-size-key;
      margin: 2vh;

      .key {
        @include hover-instrument;
        border: 1px solid $key-border-color;
        border-radius: 50%;
        box-shadow: 0.5vh 0.5vh 0.2vh $shadow;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .inner-border {
          border: 1px solid $key-border-color;
          height: 80%;
          width: 80%;
          border-radius: 50%;
          box-shadow: 0.2vh 0.2vh 0.1vh $shadow;
          display: flex;
          justify-content: center;
          align-items: center;

          .second-inner-border {
            border: 1px solid $key-border-color;
            height: 25%;
            width: 25%;
            border-radius: 50%;
            box-shadow: 0.2vh 0.2vh 0.1vh $shadow;
            display: flex;
            justify-content: center;
            align-items: center;

            .screw {
              border: 1px solid $key-border-color;
              height: 1vh;
              width: 1vh;
              border-radius: 50%;
              background-color: $key-border-color;
            }
          }
        }
      }

      .kick {
        height: 20vh;
        width: 20vh;
      }

      .closed-hi-hat {
        height: 13vh;
        width: 13vh;
      }

      .open-hi-hat {
        height: 15vh;
        width: 15vh;
      }

      .snare {
        height: 17vh;
        width: 17vh;
      }
    }
  }
}
