.button,
.instrument-select {
  margin: 2vh;

  :hover {
    cursor: pointer;
  }

  >div {
    border: 1px solid;
    background-color: $primary;
    padding: 0.2vw 1.5vw;
    box-shadow: 1.5px 1.5px $shadow;
  }
}

@media only screen and (max-width: 600px) {
  .main>div:first-child {
    text-align: center;
  }
}
